<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title data-lang="accounts_title">Account Types</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script rel="text/javascript" th:src="@{/scripts/cookie.js}"></script>
  <script rel="text/javascript" th:src="@{/scripts/multilanguage/multiLanguage.js}"></script>
  <script rel="text/javascript"
          th:src="@{/scripts/multilanguage/dictionary/dictionary.js}"></script>
  <script th:replace="fragments/languageLocale.html"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav
    th:replace="fragments/navigation :: navigation (isLoggedIn = ${viewer != null}, nickname = ${nickname})"></nav>

<div class="container mt-4">
  <div class="col-md-12">
    <div th:if="${viewerIsAdmin}">
      <h3 class="mb-3" data-lang="adminActions_header">Admin's actions</h3>
      <form th:action="@{/accounts/add}" th:method="GET">
        <button type="submit" class="btn btn-success" data-lang="createAccount_btn">Create new Account-type</button>
      </form>
    </div>

    <h3 class="mb-3" data-lang="search_header">Search</h3>
    <form th:action="@{/accounts}" id="search-form" th:method="GET">
      <div class="form-row">
        <div class="form-group col-md-2">
          <label for="keyword" data-lang="account_name">Account name</label>
          <input id="keyword" type="search" name="keyword" th:value="${keyword}"
                 class="form-control"
                 placeholder="Enter keyword">
        </div>
        <div class="form-group col-md-1">
          <label for="pageSize" data-lang="searchElements_header">Elements:</label>
          <select form="search-form" name="size" th:value="${pageSize}" id="pageSize"
                  class="form-control">
            <option th:each="s : ${ {3, 6, 9} }" th:value="${s}" th:text="${s}"
                    th:selected="${s == pageSize}"></option>
          </select>
        </div>
        <div class="form-group col-md-1">
          <label for="sort" data-lang="searchSort_header">Sort:</label>
          <select form="search-form" name="sort" th:value="sort" id="sort" class="form-control">
            <option th:each="srt : ${ {'', 'name', 'maxLinks'} }"
                    th:value="${srt}" th:text="${srt}" th:selected="${srt == ''}"
                    th:disabled="${srt == ''}"></option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label data-lang="searchParam_header">Search by attributes</label>
          <button type="submit" class="btn btn-primary form-control" data-lang="search_btn">Search</button>
        </div>
        <div class="form-group col-md-2">
          <label data-lang="clearSearch_header">Clear attributes</label>
          <button class="btn btn-warning form-control"><a th:href="@{/accounts}" data-lang="clearSearch_btn">Clear</a></button>
        </div>
      </div>
    </form>
    <div class="mb-3">
      <span data-lang="searchId_btn">Search by Id</span>
      <form th:action="@{/accounts/search}" th:method="GET" id="search-form-by-id">
        <div class="form-row">
          <div class="form-group col-md-3">
            <input type="number" min="0" id="typeId" name="typeId" required class="form-control"
                   placeholder="Enter Id">
          </div>
          <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary form-control" data-lang="searchId_btn">Search by id</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="container mt-4">
    <table class="table striped">
      <thead>
      <tr>
        <th>ID</th>
        <th data-lang="name_th">Name</th>
        <th data-lang="maxLinks_th">Max links</th>
        <th th:if="${viewerIsAdmin}" data-lang="actions_th">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="accountType : ${pageContent.content}">
        <td th:text="${accountType.id}"></td>
        <td><a th:text="${accountType.name}" th:href="@{'/accounts/' + ${accountType.id}}"
               class="btn btn-link"></a></td>
        <td th:text="${accountType.maxLinks}"></td>
        <td th:if="${viewerIsAdmin}">
          <div class="table-actions-buttons">
            <form th:if="${viewerIsAdmin}" th:action="@{'/accounts/' + ${accountType.id}}"
                  th:method="DELETE">
              <button type="submit" class="btn btn-danger" data-lang="delete_btn">Delete</button>
            </form>
            <form th:if="${viewerIsAdmin && accountChangeRequest}"
                  th:action="@{'/accounts/change/' + ${accountType.name}}" th:method="POST">
              <button type="submit" class="btn btn-warning" data-lang="changeAccount_act">Change user account</button>
            </form>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div
      th:replace="fragments/pagination :: pagination (page = ${pageContent}, pageNumbers = ${pageNumbers}, size = ${pageSize}, source = 'accounts')"></div>
</div>
</body>
</html>
