<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Add Account Type</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script rel="text/javascript" th:src="@{/scripts/cookie.js}"></script>
  <script rel="text/javascript" th:src="@{/scripts/multilanguage/multiLanguage.js}"></script>
  <script rel="text/javascript" th:src="@{/scripts/multilanguage/dictionary/dictionary.js}"></script>
  <script th:replace="fragments/languageLocale.html"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav
    th:replace="fragments/navigation :: navigation (isLoggedIn = ${viewer != null}, nickname = ${nickname})"></nav>

<div class="container mt-4">
  <div class="user-info">
    <p th:if="${accountWasCreated}" data-lang="successfulCreation_message" style="color: darkgreen">Created successfully</p>

    <form th:action="@{/accounts/add}" th:method="POST" th:object="${newAccountType}">
      <span th:if="${accountCreationError != null}" class="error-message"
            th:text="${accountCreationError}">Error</span>

      <div class="form-group">
        <label for="name" data-lang="accountName_header">Account name:</label>
        <p class="error-message alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
        <input type="text" class="form-control w-25" th:field="*{name}" required>
      </div>

      <div class="form-group">
        <label for="maxLinks" data-lang="maxLinks_header">Max links:</label>
        <p class="error-message alert alert-danger" th:if="${#fields.hasErrors('maxLinks')}" th:errors="*{maxLinks}"></p>
        <input type="number" min="1" class="form-control w-25" th:field="*{maxLinks}" required>
      </div>

      <button class="btn btn-success" type="submit" data-lang="createAccount_btn">Create New Account</button>
    </form>
  </div>
</div>
</body>
</html>
