<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${accountType.name()}"></title>
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script rel="text/javascript" th:src="@{/scripts/cookie.js}"></script>
  <script rel="text/javascript" th:src="@{/scripts/multilanguage/multiLanguage.js}"></script>
  <script rel="text/javascript"
          th:src="@{/scripts/multilanguage/dictionary/dictionary.js}"></script>
  <script th:replace="fragments/languageLocale.html"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav
    th:replace="fragments/navigation :: navigation(isLoggedIn = ${viewer != null}, nickname = ${nickname})"></nav>
<div class="container">
  <div class="user-info">
    <p> <span data-lang="account_name">Name:</span>
      <span th:text="${accountType.name()}"></span>
    </p>
    <p>Id:
      <span th:text="${accountType.id()}"></span>
    </p>
    <p><span data-lang="maxLink_header">Max links:</span>
      <span th:text="${accountType.maxLinks()}"></span>
    </p>
    <div th:if="${viewerIsAdmin}">
      <form th:action="@{'/accounts/' + ${accountType.id}}" th:method="PUT"
            th:object="${updateAccountType}">
        <span th:if="${updateError != null}" class="error-message"
              th:text="${updateError}">Error</span>
        <p class="error-message alert alert-danger" th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}"></p>

        <label for="name" data-lang="account_name">Account name</label>
        <input type="text" class="input-fields form-control w-20" style="width: 30%" id="name"
               th:placeholder="${accountType.name()}" th:field="*{name}">
        <p class="error-message alert alert-danger" th:if="${#fields.hasErrors('maxLinks')}"
              th:errors="*{maxLinks}"></p>


        <label for="maxLinks" data-lang="maxLinks_header">Max links</label>
        <input type="text" class="input-fields form-control w-20" style="width: 30%" id="maxLinks"
               th:placeholder="${accountType.maxLinks()}" th:field="*{maxLinks}">

        <button type="submit" class="btn btn-warning" data-lang="update_btn" style="margin-top: 10px">Update</button>
      </form>
      <form th:action="@{'/accounts/' + ${accountType.id}}" th:method="DELETE">
        <button type="submit" class="btn btn-danger" data-lang="delete_btn" style="margin-top: 10px">Delete</button>
      </form>
      <div th:if="${accountChangeRequest}">
        <p> <span data-lang="changeAccount_action"> Change user account to </span> <span th:text="${accountType.name()}"></span></p>
        <form th:action="@{'/accounts/change/' + ${accountType.name()}}" th:method="POST">
          <button type="submit" class="btn btn-warning" data-lang="confirmChange_btn">Confirm change</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
