<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script rel="text/javascript" th:src="@{/scripts/cookie.js}"></script>
  <script rel="text/javascript" th:src="@{/scripts/multilanguage/multiLanguage.js}"></script>
  <script rel="text/javascript"
          th:src="@{/scripts/multilanguage/dictionary/dictionary.js}"></script>
  <script th:replace="fragments/languageLocale.html"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<div th:fragment="userInfo (user, viewer, viewerIsAdmin)" class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <p> <span data-lang="nick_header">Nickname:</span>
        <span th:text="${user.nickname}"></span>
      </p>
      <p>Id:
        <span th:text="${user.id}"></span>
      </p>
      <p> <span data-lang="accountType_header">Account type:</span>
      <span th:text="${user.accountType().name()}"></span>
      </p>
      <p> <span data-lang="usedLinks_header">
        Used links:</span>
      <span th:text="${user.usedLinks}" style="text-decoration: underline"></span> of
      <span th:text="${user.accountType().maxLinks()}" style="text-decoration: underline"></span>
      </p>
      <form th:if="not ${(viewer.id().equals(user.id))}"
            th:action="@{'/users/share/' + ${user.nickname}}" th:method="POST">
        <input type="submit" value="Share to" th:disabled="${inviteCreating == null}"
               class="btn btn-primary" data-lang="shareTo_btn">
      </form>

      <div th:if="${(viewer.id.equals(user.id)) && !viewerIsAdmin}">
        <h3 data-lang="changePass_header">Change Password</h3>
        <p th:if="${passwordChanged}" style="color: darkgreen" data-lang="tags_href">Password was changed</p>
        <form th:action="@{/me/password}" th:method="PATCH" th:object="${changePassword}">
          <div class="form-group">
            <p th:if="${changePasswordError != null}" class="error-message alert alert-danger"
                  role="alert"
                  th:text="${changePasswordError}"></p>
            <label for="oldPassword" data-lang="oldPass_label">Old Password</label>
            <input type="password" class="form-control w-45" name="oldPassword"
                   th:field="*{oldPassword}"
                   required>
            <p class="error-message alert alert-danger" role="alert"
                  th:if="${#fields.hasErrors('oldPassword')}"
                  th:errors="*{oldPassword}"></p>
          </div>
          <div class="form-group">
            <label for="newPassword" data-lang="newPass_label">New Password</label>
            <input type="password" class="form-control w-45" name="newPassword"
                   th:field="*{newPassword}"
                   required>
            <p class="error-message alert alert-danger" role="alert"
                  th:if="${#fields.hasErrors('newPassword')}"
                  th:errors="*{newPassword}"></p>
          </div>
          <input type="submit" class="btn btn-warning" value="Change Password"
                 data-lang="changePass_btn">
        </form>
        <form th:action="@{/me}" th:method="DELETE">
          <input type="submit" class="btn btn-danger" value="Delete Account"
                 data-lang="deleteUser_btn">
        </form>
      </div>
      <div th:if="${viewerIsAdmin}">
        <h3 data-lang="switchAccount_header">Switch user Account</h3>
        <p th:if="${successfulAccountChange}"
              style="color: darkgreen">Account-type was changed</p>
        <p th:if="${changeAccountError}" th:text="${changeAccountError}"
              style="color: red"></p>
        <p th:if="${userAccountInChangeStage}" th:text="${chosenAccount}"></p>
        <form th:action="@{'/users/' + ${user.id} + '/account'}" th:method="PATCH">
          <input type="submit" value="Change Account" data-lang="changeAccount_btn"
                 class="btn btn-primary">
        </form>
        <br>
        <form th:action="@{'/users/' + ${user.id} + '/account/change/decline'}" th:method="PATCH">
          <input type="submit" th:disabled="not ${userAccountInChangeStage}" value="Decline Change"
                 data-lang="changeAccountDecline_btn" class="btn btn-danger">
        </form>
        <h3 data-lang="links_head">Show links</h3>
        <form th:action="@{'/users/' + ${user.id} + '/links'}" th:method="GET">
          <input type="submit" value="Show links" data-lang="links_btn" class="btn btn-success">
        </form>
        <h3 data-lang="status_header">Switch user status</h3>
        <form th:action="@{'/users/' + ${user.id} + '/status'}" th:method="PATCH">
          <div class="form-group">
            <label data-lang="status_label">Status:</label>
            <span
                th:each="singleStatus : ${T(com.nixsolutions.linkmanager.ui.data.user.UserStatus).values()}">
              <div class="form-check">
                <input type="radio" class="form-check-input" name="userStatus" id="userStatus"
                       th:value="${singleStatus.name()}"
                       th:checked="${user.status().equals(singleStatus)}">
                <label class="form-check-label" th:text="${singleStatus}"></label>
              </div>
            </span>
          </div>
          <input type="submit" class="btn btn-warning" value="Change Status" data-lang="status_btn">
        </form>
        <h3 data-lang="passOverride_header">Override Password</h3>
        <p th:if="${successfulPWDOverride}"
              style="color: darkgreen">Password was overridden</p>
        <form th:action="@{'/users/' + ${user.id} + '/password'}" th:method="PATCH"
              th:object="${overridePassword}">
          <div class="form-group">
            <p class="error-message alert alert-danger" role="alert"
                  th:if="${#fields.hasErrors('newPassword')}"
                  th:errors="*{newPassword}"></p>
            <label for="newPassword" data-lang="passOverride_label">New Password</label>
            <input type="password" class="form-control w-45" name="newPassword"
                   th:field="*{newPassword}"
                   required>
          </div>
          <input type="submit" class="btn btn-warning" value="Override Password"
                 data-lang="passOverride_btn">
        </form>
        <br>
        <form th:action="@{'/users/' + ${user.id}}" th:method="DELETE">
          <input type="submit" class="btn btn-danger" value="Delete Account"
                 data-lang="userDelete_btn">
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>
