<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <script th:replace="fragments/languageLocale.html"></script>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav th:fragment="navigation (isLoggedIn, nickname)"
     class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" th:href="@{/}">Link Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li th:if="${isLoggedIn}" class="nav-item"><a class="nav-link" th:href="@{/links}"
                                                    data-lang="links_href">Links</a>
      </li>
      <li class="nav-item"><a class="nav-link" th:href="@{/tags}" data-lang="tags_href">Tags</a>
      </li>
      <li class="nav-item"><a class="nav-link" th:href="@{/accounts}"
                              data-lang="account-types_href">Account-types</a></li>
      <li th:if="${isLoggedIn}" class="nav-item">
        <a class="nav-link" th:href="@{/users}" data-lang="users_href">Users</a></li>
      <li th:if="${isLoggedIn}" class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="sharingDropdown" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" data-lang="sharing_href">Sharing</a>
        <div class="dropdown-menu" aria-labelledby="sharingDropdown">
          <a class="dropdown-item" th:href="@{/sharing/invites}"
             data-lang="invites_href">Invites</a>
          <a class="dropdown-item" th:href="@{/sharing/offers}" data-lang="offers_href">Offers</a>
        </div>
      </li>
    </ul>


    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn btn-link lang-button" data-btn="ua" onclick="changeLanguageToUa()">UA
        </button>
      </li>
      <li class="nav-item">
        <button class="btn btn-link lang-button" data-btn="en" onclick="changeLanguageToEn()">EN
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:if="${isLoggedIn}" th:href="@{/me}" th:text="${nickname}">Me</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" th:if="not ${isLoggedIn}" th:href="@{/login}" data-lang="signIn_href">Sign
          In</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:if="not ${isLoggedIn}" th:href="@{/register}"
           data-lang="signUp_href">Sign Up</a>
      </li>
      <li class="nav-item">
        <form th:if="${isLoggedIn}" th:action="@{/logout}" th:method="POST">
          <button class="btn btn-link" type="submit" data-lang="signOut_href">Sign Out</button>
        </form>
      </li>
    </ul>
  </div>
</nav>
</body>
</html>
