<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
</head>
<body>

<div class="page-pagination" th:fragment="pagination (page, pageNumbers, size, source)">
  <nav aria-label="Page navigation">
    <ul class="pagination" th:if="${page.totalPages > 0}">
      <li th:each="pageNumber : ${pageNumbers}">
        <a class="page-link" th:href="@{${source}(size=${page.size}, page=${pageNumber})}"
           th:value="${pageNumber}" th:text="${pageNumber}"></a>
      </li>
    </ul>
  </nav>
</div>

</body>
</html>