<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Tag</title>
    <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script rel="text/javascript" th:src="@{/scripts/cookie.js}"></script>
  <script rel="text/javascript" th:src="@{/scripts/multilanguage/multiLanguage.js}"></script>
  <script rel="text/javascript"
          th:src="@{/scripts/multilanguage/dictionary/dictionary.js}"></script>
  <script th:replace="fragments/languageLocale.html"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav th:replace="fragments/navigation :: navigation (isLoggedIn = ${viewer != null}, nickname = ${nickname})"></nav>

<div class="user-info container">
    <span th:if="${tagWasCreated}" data-lang="successfulCreation_message" style="color: darkgreen">Created successfully</span>

    <h3 data-lang="tagName_header">Tag name:</h3>
    <form th:action="@{/tags/add}" th:method="POST" th:object="${newTag}" class="mt-3">
        <p th:if="${tagCreationError != null}" class="error-message alert alert-danger" th:text="${tagCreationError}"></p>
        <div class="form-group">
            <p class="error-message" th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}"></p>
            <input type="text" class="form-control w-20" style="width: 25%" th:field="*{tag}" placeholder="Enter tag name">
        </div>

        <button class="btn btn-primary" type="submit" data-lang="createNewTag_btn">Create Tag</button>
    </form>
</div>
</body>
</html>
