<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${tagById.tag()}"></title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script rel="text/javascript" th:src="@{/scripts/cookie.js}"></script>
  <script rel="text/javascript" th:src="@{/scripts/multilanguage/multiLanguage.js}"></script>
  <script rel="text/javascript"
          th:src="@{/scripts/multilanguage/dictionary/dictionary.js}"></script>
  <script th:replace="fragments/languageLocale.html"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav
    th:replace="fragments/navigation :: navigation (isLoggedIn = ${viewer != null}, nickname = ${nickname})"></nav>
<div class="container">
  <div class="user-info">
    <p><span data-lang="tagName_header"> Name: </span> <span th:text="${tagById.tag()}"></span></p>
    <p>Id: <span th:text="${tagById.id()}"></span></p>

    <form th:if="${viewer != null}" th:action="@{'/link-types/for-link/' + ${tagById.id}}"
          th:method="POST">
      <input type="submit" th:disabled="not ${linkCreationStage}" data-lang="tagAddToLink_btn" value="Add to link"
             class="btn btn-primary">
    </form>
    <br>

    <div th:if="${viewerIsAdmin}">
      <form th:action="@{'/tags/' + ${tagById.id}}" th:method="PUT" th:object="${updateTag}">
        <span th:if="${updateError != null}" class="error-message"
              th:text="${updateError}">Error</span>
        <p class="error-message alert alert-danger" th:if="${#fields.hasErrors('tag')}" th:errors="*{tag}"></p>
        <label>
          <input type="text" class="input-fields form-control w-20" th:placeholder="${tagById.tag()}"
                 th:field="*{tag}"></label>
        <input type="submit" class="btn btn-warning" value="Update" data-lang="update_btn" style="margin-top: 10px">
      </form>

      <form th:action="@{'/tags/' + ${tagById.id}}" th:method="DELETE">
        <input type="submit" class="btn btn-danger" data-lang="delete_btn" value="Delete" style="margin-top: 10px">
      </form>
    </div>
  </div>
</div>
</body>
</html>
