<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title data-lang="tags_title">Tags</title>
  <!--  <link rel="stylesheet" th:href="@{/css/settings.css}">-->
  <!--  <link rel="stylesheet" th:href="@{/css/navigation.css}">-->
  <!--  <link rel="stylesheet" th:href="@{/css/tables.css}">-->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script rel="text/javascript" th:src="@{/scripts/cookie.js}"></script>
  <script rel="text/javascript" th:src="@{/scripts/multilanguage/multiLanguage.js}"></script>
  <script rel="text/javascript"
          th:src="@{/scripts/multilanguage/dictionary/dictionary.js}"></script>
  <script th:replace="fragments/languageLocale.html"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav
    th:replace="fragments/navigation :: navigation (isLoggedIn = ${viewer != null}, nickname = ${nickname})"></nav>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <div th:if="${viewerIsAdmin}">
        <h3 class="mb-3" data-lang="adminActions_header">Admin's actions</h3>
        <form th:action="@{/tags/add}" th:method="GET">
          <button type="submit" class="btn btn-success" data-lang="createTag_btn">Create new Tag</button>
        </form>
      </div>

      <h3 class="mb-3" data-lang="search_header">Search</h3>
      <form th:action="@{/tags}" id="search-form" th:method="GET">
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="keyword" data-lang="tagName_header">Tag name:</label>
            <input id="keyword" type="search" name="keyword" th:value="${keyword}"
                   placeholder="Enter keyword" class="form-control">
          </div>
          <div class="form-group col-md-1">
            <label for="pageSize" data-lang="searchElements_header">Elements:</label>
            <select form="search-form" name="size" th:value="${pageSize}" id="pageSize"
                    class="form-control">
              <option th:each="s : ${ {3, 6, 9} }" th:value="${s}" th:text="${s}"
                      th:selected="${s == pageSize}"></option>
            </select>
          </div>
          <div class="form-group col-md-1">
            <label for="sort" data-lang="searchSort_header">Sort:</label>
            <select form="search-form" name="sort" th:value="${sort}" id="sort"
                    class="form-control">
              <option th:each="srt : ${ {'', 'id', 'tag'} }" th:value="${srt}" th:text="${srt}"
                      th:selected="${srt == ''}" th:disabled="${srt == ''}"></option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label data-lang="searchParam_header">Search by attributes</label>
            <button type="submit" class="btn btn-primary form-control" data-lang="search_btn">Search</button>
          </div>

          <div class="form-group col-md-2">
            <label data-lang="clearSearch_header">Clear attributes</label>
            <button class="btn btn-warning form-control"><a th:href="@{/tags}" data-lang="clearSearch_btn">Clear</a></button>
          </div>
        </div>
      </form>

      <div class="mb-3">
        <span data-lang="searchId_btn">Search by Id</span>
        <form th:action="@{/tags/search}" th:method="GET" id="search-form-by-id">
          <div class="form-row">
            <div class="form-group col-md-3">
              <input type="number" min="0" id="tagId" name="tagId" required class="form-control"
                     placeholder="Enter Id">
            </div>
            <div class="form-group col-md-2">
              <button type="submit" class="btn btn-primary form-control" data-lang="searchId_btn">Search by id</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<p></p>
<div class="container mt-4">
  <table class="table striped">
    <thead>
    <tr>
      <th>ID</th>
      <th data-lang="name_th">Name</th>
      <th th:if="${viewer != null}" data-lang="actions_th">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tag : ${pageContent.content}">
      <td th:text="${tag.id}"></td>
      <td><a th:href="@{'/tags/' + ${tag.id}}" th:text="${tag.tag}"></a></td>
      <td th:if="${viewer != null}">
        <div class="table-actions-buttons">
          <form th:action="@{'/tags/for-link/' + ${tag.id}}" th:method="POST">
            <input type="submit" th:disabled="not ${linkCreationStage}" value="Add to link"
                   class="btn btn-primary" data-lang="addToLink_btn">
          </form>
          <form th:if="${viewerIsAdmin}" th:action="@{'/tags/' + ${tag.id}}" th:method="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger" data-lang="delete_btn">
          </form>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div
    th:replace="fragments/pagination :: pagination (page = ${pageContent}, pageNumbers = ${pageNumbers}, size = ${pageSize}, source = 'tags')"></div>

</div>
</body>
</html>
