<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <title data-lang="login_title">Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script rel="text/javascript" th:src="@{/scripts/cookie.js}"></script>
  <script rel="text/javascript" th:src="@{/scripts/multilanguage/multiLanguage.js}"></script>
  <script rel="text/javascript" th:src="@{/scripts/multilanguage/dictionary/dictionary.js}"></script>
  <script th:replace="fragments/languageLocale.html"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card mt-5">
        <div class="card-body">
          <div class="login-form">
            <form th:action="@{/login}" th:object="${loginForm}" method="POST">
              <h1 class="mb-4" data-lang="login_header">Login</h1>
              <div class="content">
                <div th:if="${loginError != null}" class="alert alert-danger" role="alert"
                     th:text="${loginError}">Login Error
                </div>
                <div class="form-group input-field">
                  <label for="login" data-lang="login_label">Login</label>
                  <input type="text" class="form-control" id="login" placeholder="Enter your login" th:field="*{login}">
                  <p class="error-message alert alert-danger" role="alert" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></p>
                </div>
                <div class="form-group input-field">
                  <label for="password" data-lang="pass_label">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Enter your password" th:field="*{password}">
                  <p class="error-message alert alert-danger"  role="alert" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
                </div>
              </div>
              <div class="action">
                <button type="submit" class="btn btn-primary form-control" data-lang="signIn_btn">Sign In</button>
              </div>
            </form>
          </div>
          <button class="btn btn-warning form-control">
            <a href="#" onclick="window.history.back(-1);return false;" data-lang="return_btn">Return</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
