<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title data-lang="linkAdd_title">Add Link</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script rel="text/javascript" th:src="@{/scripts/cookie.js}"></script>
  <script rel="text/javascript" th:src="@{/scripts/multilanguage/multiLanguage.js}"></script>
  <script rel="text/javascript"
          th:src="@{/scripts/multilanguage/dictionary/dictionary.js}"></script>
  <script th:replace="fragments/languageLocale.html"></script>
</head>
<body>
<nav
    th:replace="fragments/navigation :: navigation (isLoggedIn = ${viewer != null}, nickname = ${nickname})"></nav>
<p>

</p>
<div class="user-info container">
  <form th:if="${linkCreationStage}" th:action="@{/links/add/decline}" th:method="POST">
    <button type="submit" class="btn btn-warning" data-lang="declineLinkConstruct_btn">Decline link
      construct
    </button>
  </form>

  <form th:if="not ${linkCreationStage}" th:action="@{/links/add/start}" th:method="POST">
    <button type="submit" class="btn btn-success" data-lang="constructLink_btn">Construct link
    </button>
  </form>

  <div th:if="${linkCreationStage}">
    <form th:action="@{/links/add}" th:method="POST" th:object="${newLink}">

      <p th:if="${creationError != null}" class="error-message alert alert-danger"
            th:text="${creationError}">Error</p>

      <h3 data-lang="tag_header">Tag</h3>

      <label th:if="not ${tagChosen}">
        <span data-lang="tagIdEnter_header">Enter Tag-id</span>
        <input type="number" class="form-control" min="0" id="" th:field="*{tag}" required>
      </label>
      <p th:if="${tagChosen}"><span data-lang="chosenTagId_header"> Chosen tag id: </span> <span
          th:text="${chosenTag}"></span></p>
      <p>
        <label data-lang="chosenTag_header">Or choose from tags</label>
        <a th:href="@{/tags}" class="btn btn-primary" data-lang="choseTag_btn">Choose tag</a>
      </p>
      <h3 data-lang="hyperlink_header">Hyperlink</h3>
      <p class="error-message alert alert-danger" th:if="${#fields.hasErrors('hyperlink')}"
            th:errors="*{hyperlink}"></p>


      <label>
        <input type="text" class="form-control w-30" th:field="*{hyperlink}">
      </label>
      <h3 data-lang="description_header">Description</h3>

      <p class="error-message alert alert-danger" th:if="${#fields.hasErrors('description')}"
            th:errors="*{description}"></p>


      <label>
        <input type="text" class="form-control w-30" th:field="*{description}">
      </label>

      <br>

      <label> <span data-lang="important_header">Important:</span>
        <input type="checkbox" name="importantVar" th:field="*{important}">
      </label>

      <br>
      <button class="btn btn-success" type="submit" data-lang="saveNewLink_btn">Save this link
      </button>
    </form>
  </div>
</div>

</body>
</html>
