<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${linkById.hyperlink()}"></title>
  <!--  <link rel="stylesheet" th:href="@{/css/settings.css}">-->
  <!--  <link rel="stylesheet" th:href="@{/css/navigation.css}">-->
  <!--  <link rel="stylesheet" th:href="@{/css/current-user.css}">-->
    <script rel="text/javascript" th:src="@{/scripts/cookie.js}"></script>
  <script rel="text/javascript" th:src="@{/scripts/multilanguage/multiLanguage.js}"></script>
  <script rel="text/javascript"
          th:src="@{/scripts/multilanguage/dictionary/dictionary.js}"></script>
  <script th:replace="fragments/languageLocale.html"></script>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav
    th:replace="fragments/navigation :: navigation (isLoggedIn = ${viewer != null}, nickname = ${nickname})"></nav>

<div class="container mt-4">
  <div class="user-info">
    <p>Id: <span th:text="${linkById.id()}"></span></p>
    <p><span data-lang="hyperlink_header">HyperLink </span><span
        th:text="${linkById.hyperlink()}"></span></p>
    <p><span data-lang="description_header"> Description: </span><span
        th:text="${linkById.description()}"></span></p>
    <p><span data-lang="tag_header">Tag:</span>
      Id: <span th:text="${linkById.tag().id()}"></span> <span data-lang="tagName_header">Name: </span><span
          th:text="${linkById.tag().tag()}"></span>
    </p>
    <p> <span data-lang="important_header">Important: </span><span th:text="${linkById.important()} ? '✔' : 'X'"></span></p>

    <form th:action="@{'/links/share' + ${linkById.id()}}" th:method="POST">
      <button type="submit" class="btn btn-primary" data-lang="share_btn">Share</button>
    </form>
    <br>


    <form th:action="@{'/links/' + ${linkById.id()}}" th:method="PUT" th:object="${updateLink}">
      <p th:if="${updateError != null}" class="error-message"
            th:text="${updateError}">Error</p>
      <h3 data-lang="tag_header">Tag</h3>
      <label>
        <input type="number" min="0" th:field="*{tag}" th:value="${linkById.tag().id()}"
               th:placeholder="${linkById.tag().id()}">
      </label>
      <br>
      <h3 data-lang="hyperlink_header">Hyperlink</h3>
      <p class="error-message alert alert-danger" th:if="${#fields.hasErrors('hyperlink')}"
            th:errors="*{hyperlink}"></p>
      <br>
      <label>
        <input type="text" class="form-control w-20" th:field="*{hyperlink}"
               th:value="${linkById.hyperlink()}" th:placeholder="${linkById.hyperlink()}">
      </label>
      <h3 data-lang="description_header">Description</h3>
      <p class="error-message alert alert-danger" th:if="${#fields.hasErrors('description')}"
            th:errors="*{description}"></p>
      <br>
      <label>
        <input type="text" class="form-control w-30" th:field="*{description}"
               th:placeholder="${linkById.description()}">
      </label>
      <br>
      <label> <span data-lang="important_header">Important:</span>
        <input type="checkbox" name="importantVar" th:field="*{important}">
      </label>
      <br>
      <button class="btn btn-primary" type="submit" data-lang="updateLink_btn">Update this link</button>
    </form>
    <form th:action="@{'/links/' + ${linkById.id()}}" th:method="DELETE">
      <button type="submit" class="btn btn-danger" style="margin-top: 10px" data-lang="delete_btn">Delete</button>
    </form>
  </div>
</div>
</body>
</html>
