<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title data-lang="links_title">Links</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script rel="text/javascript" th:src="@{/scripts/cookie.js}"></script>
  <script rel="text/javascript" th:src="@{/scripts/multilanguage/multiLanguage.js}"></script>
  <script rel="text/javascript"
          th:src="@{/scripts/multilanguage/dictionary/dictionary.js}"></script>
  <script th:replace="fragments/languageLocale.html"></script>
  <script>
    function openInNewTab(linkID) {
      const url = document.getElementById(linkID);
      window.open(url.innerText, '_blank').focus();
    }
  </script>
</head>
<body>
<nav
    th:replace="fragments/navigation :: navigation (isLoggedIn = ${viewer != null}, nickname = ${nickname})"></nav>

<div class="container mt-4">
  <div class="search-block">
    <h3 data-lang="search_header">Search</h3>
    <form th:action="@{/links}" id="search-form" th:method="GET">
      <div class="form-row">
        <div class="form-group col-md-3">
          <label for="keyword" data-lang="contains_header">Contains</label>
          <input id="keyword" type="search" name="keyword" th:value="${keyword}"
                 class="form-control"
                 placeholder="Enter keyword">
        </div>
        <div class="form-group col-md-1">
          <label for="tagId" data-lang="tagId_header">Tag ID</label>
          <input id="tagId" type="number" min="0" name="tagId" th:value="${tagId}"
                 class="form-control"
                 placeholder="Enter tag ID">
        </div>
        <div class="form-group col-md-1">
          <label for="pageSize" data-lang="searchElements_header">Elements</label>
          <select form="search-form" name="size" th:value="${pageSize}" id="pageSize"
                  class="form-control">
            <option th:each="s : ${ {3, 6, 9} }" th:value="${s}" th:text="${s}"
                    th:selected="${s == pageSize}"></option>
          </select>
        </div>
        <div class="form-group col-md-1">
          <label for="sort" data-lang="searchSort_header">Sort</label>
          <select form="search-form" name="sort" th:value="sort" id="sort" class="form-control">
            <option th:each="srt : ${ {'', 'tag', 'important'} }" th:value="${srt}" th:text="${srt}"
                    th:selected="${srt == ''}" th:disabled="${srt == ''}"></option>
          </select>
        </div>
        <div class="form-group col-md-2">
          <label data-lang="searchParam_header">Search by attributes</label>
          <button type="submit" class="btn btn-primary form-control" data-lang="search_btn">Search</button>
        </div>
        <div class="form-group col-md-2">
          <label data-lang="clearSearch_header">Clear attributes</label>
          <button class="btn btn-warning form-control"><a th:href="@{/links}" data-lang="clearSearch_btn">Clear</a></button>
        </div>
      </div>
    </form>
    <div class="mb-3">
      <span data-lang="searchId_btn">Search by Id</span>
      <form th:action="@{/links/search}" th:method="GET" id="search-form-by-id">
        <div class="form-row">
          <div class="form-group col-md-3">
            <input type="number" min="0" id="linkId" name="linkId" required class="form-control"
                   placeholder="Enter Id">
          </div>
          <div class="form-group col-md-2">
            <button type="submit" class="btn btn-primary form-control" data-lang="searchId_btn">Search by Id</button>
          </div>
        </div>
      </form>
    </div>
    <div class="mb-3">
      <form th:action="@{/links/add}" th:method="GET">
        <button type="submit" class="btn btn-success" data-lang="createLink_btn">Create new Link</button>
      </form>
    </div>
  </div>
</div>
<div class="container">
  <table class="table striped">
    <thead>
    <tr>
      <th>ID</th>
      <th data-lang="hyperlink_th">Link</th>
      <th data-lang="tag_th">Tag</th>
      <th data-lang="description_th">Description</th>
      <th data-lang="important_th">Important</th>
      <th data-lang="actions_th">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="link : ${pageContent.content}">
      <td th:text="${link.id}"></td>
      <td><a th:id="'link' + ${link.id}" style="cursor: pointer" onclick="openInNewTab(id)" th:text="${link.hyperlink}"></a>
      </td>
      <td th:text="${link.tag().tag}"></td>
      <td><p th:text="${link.description}"></p></td>
      <td><span th:text="${link.important} ? '✔' : 'X'"></span></td>
      <td>
        <div class="table-actions-buttons">
          <form th:action="@{'/links/share/' + ${link.id}}" th:method="POST">
            <button type="submit" class="btn btn-success" data-lang="share_btn">Share</button>
          </form>
          <form th:action="@{'/links/' + ${link.id}}" th:method="GET">
            <button type="submit" class="btn btn-warning" data-lang="update_btn">Update</button>
          </form>
          <form th:action="@{'/links/' + ${link.id}}" th:method="DELETE">
            <button type="submit" class="btn btn-danger" data-lang="delete_btn">Delete</button>
          </form>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div
    th:replace="fragments/pagination :: pagination (page = ${pageContent}, pageNumbers = ${pageNumbers}, size = ${pageSize}, source = 'links')"></div>

</div>
</body>
</html>
