<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${requestedUser.nickname()}"></title>
  <!--  <link rel="stylesheet" th:href="@{/css/settings.css}">
  <link rel="stylesheet" th:href="@{/css/navigation.css}">
  <link rel="stylesheet" th:href="@{/css/tables.css}-->
  <script rel="text/javascript" th:src="@{/scripts/cookie.js}"></script>
  <script rel="text/javascript" th:src="@{/scripts/multilanguage/multiLanguage.js}"></script>
  <script rel="text/javascript"
          th:src="@{/scripts/multilanguage/dictionary/dictionary.js}"></script>
  <script th:replace="fragments/languageLocale.html"></script>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    function openInNewTab(linkID) {
      const url = document.getElementById(linkID);
      window.open(url.innerText, '_blank').focus();
    }
  </script>
</head>
<body>
<nav
    th:replace="fragments/navigation :: navigation (isLoggedIn = ${viewer != null}, nickname = ${nickname})"></nav>

<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th data-lang="hyperlink_th">Link</th>
      <th data-lang="tag_th">Tag</th>
      <th data-lang="description_th">Description</th>
      <th data-lang="important_th">Important</th>
      <th data-lang="actions_th">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="link : ${pageContent.content}">
      <td th:text="${link.id}"></td>
      <td><a th:id="'link' + ${link.id}" href="#" style="cursor: pointer" onclick="openInNewTab(id)"
             th:text="${link.hyperlink}"></a></td>
      <td th:text="${link.tag().tag}"></td>
      <td><p th:text="${link.description}"></p></td>
      <td><span th:text="${link.important} ? '✔' : 'X'"></span></td>
      <td>
        <div class="table-actions-buttons">
          <form th:action="@{'/links/' + ${link.id}}" th:method="DELETE">
            <button type="submit" class="btn btn-danger" data-lang="delete_btn">Delete</button>
          </form>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div
      th:replace="fragments/pagination :: pagination (page = ${pageContent}, pageNumbers = ${pageNumbers}, size = ${pageSize}, source = (''))"></div>
</div>

</body>
</html>
