<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title data-lang="error_title">Error</title>
  <meta charset="utf-8"/>
<!--  <link rel="stylesheet" th:href="@{/css/settings.css}">-->
    <script rel="text/javascript" th:src="@{/scripts/cookie.js}"></script>
  <script rel="text/javascript" th:src="@{/scripts/multilanguage/multiLanguage.js}"></script>
  <script rel="text/javascript"
          th:src="@{/scripts/multilanguage/dictionary/dictionary.js}"></script>
  <script th:replace="fragments/languageLocale.html"></script>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <div class="error-message mt-5">
        <h1 data-lang="wrongAttention_header">Something went wrong:</h1>
        <h1 th:text="${httpStatus.getReasonPhrase()}">cause</h1>
        <h1 th:text="${httpStatus.value()}">404</h1>
        <a class="btn btn-primary mt-3" th:href="@{/}" data-lang="home_btn">Back to Home Page</a>
        <a class="btn btn-secondary mt-3" href="#" data-lang="return_btn" onclick="window.history.back(-1);return false;">Return</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
