<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title data-lang="share_title">Offers</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script rel="text/javascript" th:src="@{/scripts/cookie.js}"></script>
  <script rel="text/javascript" th:src="@{/scripts/multilanguage/multiLanguage.js}"></script>
  <script rel="text/javascript"
          th:src="@{/scripts/multilanguage/dictionary/dictionary.js}"></script>
  <script th:replace="fragments/languageLocale.html"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav
    th:replace="fragments/navigation :: navigation (isLoggedIn = ${viewer != null}, nickname = ${nickname})"></nav>

<div class="container mt-4">
    <table class="table striped">
    <thead>
    <tr>
      <th>ID</th>
      <th data-lang="offeredBy_th">Offered By</th>
      <th data-lang="hyperlink_th">Hyperlink</th>
      <th data-lang="description_th">Description</th>
      <th data-lang="actions_th">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="offer : ${pageContent.content}">
      <td th:text="${offer.id}"/>
      <td th:text="${offer.originUser}"/>
      <td th:text="${offer.linkToShare.hyperlink}"/>
      <td><p th:text="${offer.linkToShare.description}"></p></td>
      <td>
        <div class="table-actions-buttons">
          <form th:action="@{'/sharing/offers/' + ${offer.id}}" th:method="POST">
            <button type="submit" class="btn btn-success" data-lang="acceptOffer_btn">Accept Offer</button>
          </form>
          <form th:action="@{'/sharing/offers/' + ${offer.id}}" th:method="DELETE">
            <button type="submit" class="btn btn-danger" data-lang="declineOffer_btn">Decline Offer</button>
          </form>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <div
      th:replace="fragments/pagination :: pagination (page = ${pageContent}, pageNumbers = ${pageNumbers}, size = ${pageSize}, source = '')"></div>
</div>
</body>
</html>
