.user-info {
  width: 70%;
  max-width: 1000px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 20px;
}

.error-message {
  color: #dc0000;
  padding: 10px;
  float: left;
}