.login-form .action input:hover {
  background: #6acc97;
}

.return-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: rgba(27, 43, 62, .98);
  color: white;
  transition: 0.3s;
  width: 90px;
  height: 40px;
}

.return-button a {
  color: white;
}

.return-button:hover {
  background-color: white;
  color: black;
}

.return-button:hover a {
  color: black;
}

.error-message {
  color: #dc0000;
  padding: 10px;
  float: left;
}

.login-form {
  background: #fff;
  width: 500px;
  margin: 65px auto;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.3);
}

.login-form h1 {
  padding: 35px 35px 0 35px;
  font-weight: 300;
}

.login-form .content {
  padding: 35px;
  text-align: center;
}

.login-form .input-field {
  padding: 12px 5px;
}

.login-form .input-field input {
  font-size: 16px;
  display: block;
  font-family: 'Rubik', sans-serif;
  width: 100%;
  padding: 10px 1px;
  border: 0;
  border-bottom: 1px solid #747474;
  outline: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.login-form .action input {
  width: 100%;
  border: none;
  padding: 18px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
  text-transform: uppercase;
  background: rgba(27, 43, 62, .98);
  color: #e3e3e3;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0;
  letter-spacing: 0.2px;
  outline: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
