:root {
  --primary-bg-color: #333;
  --secondary-bg-color: #111;
  --text-color: white;
  --button-background-color: #333;
}

.navbar {
  list-style-type: none;
  width: 70%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  background-color: var(--primary-bg-color);
}

.navbar li {
  float: left;
  font-family: Arial, serif;
}

.navbar li a, .drop-button {
  display: inline-block;
  color: var(--text-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, serif;
  font-size: 13.3px;
}

.navbar li a:hover, .dropdown:hover .drop-button {
  background-color: var(--secondary-bg-color);
}

.navbar li.dropdown {
  display: inline-block;
}

.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--primary-bg-color);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: Arial, serif;
}

.navbar .dropdown-content a {
  color: var(--text-color);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar .dropdown-content a:hover {
  background-color: var(--secondary-bg-color);
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.navbar button, .navbar input {
  border: none;
  color: var(--text-color);
  background-color: var(--button-background-color);
}

.navbar button:hover, .navbar input:hover {
  background-color: var(--secondary-bg-color);
}

.lang-button {
  height: 45px;
  width: 100%;
}

.lang-button:hover {
  cursor: pointer;
}

.lang-button:disabled {
  color: #7f7f7f;
}

.navbar button:disabled {
  color: #7f7f7f;
}
