
a {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: Arial, serif;
}

.warning-button {
  background: rgba(255, 99, 35, 0.98);
  color: #eeeeee;
  border: none;
  transition: 0.3s;
  width: auto;
  height: 40px;
  cursor: pointer;
}


.warning-button:hover {
  background-color: #eeeeee;
  color: rgba(255, 99, 35, 0.98);
}

.danger-button {
  background: rgba(255, 45, 45, 0.98);
  color: #eeeeee;
  border: none;
  transition: 0.3s;
  width: auto;
  height: 40px;
  cursor: pointer;
}

.danger-button:hover {
  background-color: #eeeeee;
  color: rgba(255, 45, 45, 0.98);
}

.save-button {
  background: rgb(3 155 0 / 98%);
  color: #eeeeee;
  border: none;
  transition: 0.3s;
  width: auto;
  height: 40px;
  cursor: pointer;
}

.save-button:hover {
  background-color: #eeeeee;
  color: rgb(3 155 0 / 98%);
}

.input-fields {
  height: 35px;
}
