.table-actions-buttons {
  display: inline-flex;
  word-spacing: 10px;
}

.table-actions-buttons > * {
  margin: 10px;
}

.table-info {
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  height: auto;
}

th, tr {
  height: 70px;
}

th, td {
  border-bottom: 1px solid #505050;
}

tr:hover {
  background-color: rgba(202, 232, 255, 0.85);
}

table tr > * {
  margin: 15px;
}

.page-pagination ul {
  display: flex;
  justify-content: center;
}

.page-pagination ul li {
  list-style: none;
}

.page-pagination ul li a {
  display: block;
  padding: 8px 10px;
  margin: 1px 3px;
  color: #717171;
  background-color: #f5f5f5;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 0 1px;
  background-image: -webkit-linear-gradient(top, #f9f9f9, #eaeaea);
  font-size: smaller;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
}

.page-pagination ul li a:hover {
  border-color: #fff;
  background-color: #fdfdfd;
  background-image: -webkit-linear-gradient(top, #fefefe, #fafafa);
}

.page-pagination ul li a.active {
  color: #f2f2f2;
  background-color: #676767;
  border-color: #505050;
  background-image: -webkit-linear-gradient(top, #5f5f5f, #5c5c5c);
  box-shadow: rgba(0, 0, 0, 0.75) 0 0 0 0 inset;
}


.search-block {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  text-align: center;
}

