<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${requestedUser.nickname()}"></title>
<!--  <link rel="stylesheet" th:href="@{/css/settings.css}">-->
<!--  <link rel="stylesheet" th:href="@{/css/current-user.css}">-->
<!--  <link rel="stylesheet" th:href="@{/css/navigation.css}">-->
    <script rel="text/javascript" th:src="@{/scripts/cookie.js}"></script>
  <script rel="text/javascript" th:src="@{/scripts/multilanguage/multiLanguage.js}"></script>
  <script rel="text/javascript"
          th:src="@{/scripts/multilanguage/dictionary/dictionary.js}"></script>
  <script th:replace="fragments/languageLocale.html"></script>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>

<nav th:replace="fragments/navigation :: navigation(isLoggedIn = ${(viewer != null)}, nickname = ${viewer.nickname()})"></nav>

<div th:replace="fragments/info-from-user :: userInfo (user = ${requestedUser}, viewer = ${viewer}, viewerIsAdmin = ${viewerIsAdmin})">


</div>
</body>
</html>