<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title data-lang="users_title">Users</title>
  <!-- Add Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script rel="text/javascript" th:src="@{/scripts/cookie.js}"></script>
  <script rel="text/javascript" th:src="@{/scripts/multilanguage/multiLanguage.js}"></script>
  <script rel="text/javascript"
          th:src="@{/scripts/multilanguage/dictionary/dictionary.js}"></script>
  <script th:replace="fragments/languageLocale.html"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav
    th:replace="fragments/navigation :: navigation (isLoggedIn = ${viewer != null}, nickname = ${nickname})"></nav>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <div th:if="${viewerIsAdmin}">
        <h3 class="mb-3" data-lang="adminActions_header">Admin's actions</h3>
        <form th:action="@{/admin}" th:method="GET">
          <button type="submit" class="btn btn-success" data-lang="registerAdmin_header">Create new
            Admin
          </button>
        </form>
        <br>
        <form th:action="@{/old-tokens}" th:method="DELETE">
          <button type="submit" class="btn btn-danger" data-lang="pruneOldTokens_btn">Delete old
            tokens
          </button>
        </form>
      </div>

      <h3 class="mb-3" data-lang="search_header">Search</h3>
      <form th:action="@{/users}" th:method="GET" id="search-form" class="mb-3">
        <div class="form-row">
          <div class="form-group col-md-2">
            <label for="keyword" data-lang="nick_header">Nickname</label>
            <input id="keyword" type="search" name="keyword" th:value="${keyword}"
                   class="form-control" placeholder="Enter keyword">
          </div>
          <div class="form-group col-md-1">
            <label for="pageSize" data-lang="searchElements_header">Elements</label>
            <select form="search-form" name="size" th:value="${pageSize}" id="pageSize"
                    class="form-control">
              <option th:each="s : ${ {3, 6, 9} }" th:value="${s}" th:text="${s}"
                      th:selected="${s == pageSize}"></option>
            </select>
          </div>
          <div class="form-group col-md-1">
            <label for="sort" data-lang="searchSort_header">Sort</label>
            <select form="search-form" name="sort" th:value="sort" id="sort" class="form-control">
              <option th:each="srt : ${ {'', 'id', 'nickname', 'usedLinks', 'accountType'} }"
                      th:value="${srt}" th:text="${srt}" th:selected="${srt == ''}"
                      th:disabled="${srt == ''}"></option>
            </select>
          </div>
          <div class="form-group col-md-2">
            <label data-lang="searchParam_header">Search by attributes</label>
            <button type="submit" class="btn btn-primary form-control" data-lang="search_btn">
              Search
            </button>
          </div>
          <div class="form-group col-md-2">
            <label data-lang="clearSearch_header">Clear attributes</label>
            <button class="btn btn-warning form-control"><a th:href="@{/users}"
                                                            data-lang="clearSearch_btn">Clear</a>
            </button>
          </div>
        </div>
      </form>
      <div class="mb-3">
        <span data-lang="searchId_header">Search by Id</span>
        <form th:action="@{/users/search}" th:method="GET" id="search-form-by-id">
          <div class="form-row">
            <div class="form-group col-md-3">
              <input type="number" min="0" id="linkId" name="linkId" required class="form-control"
                     placeholder="Enter Id">
            </div>
            <div class="form-group col-md-2">
              <button type="submit" class="btn btn-primary form-control" data-lang="searchId_btn">
                Search by id
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container mt-4">
    <table class="table striped">
      <thead>
      <tr>
        <th>ID</th>
        <th data-lang="name_th">Name</th>
        <th data-lang="account_th">Account</th>
        <th th:if="${viewerIsAdmin}" data-lang="status_th">Status</th>
        <th data-lang="linksCount_th">Links</th>
        <th th:if="${viewer != null}" data-lang="actions_th">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="user : ${pageContent.content}">
        <td th:text="${user.id}"></td>
        <td><a th:href="@{'/users/' + ${user.id}}" th:text="${user.nickname}"></a></td>
        <td th:text="${user.accountType().name()}"></td>
        <td th:if="${viewerIsAdmin}" th:text="${user.status().name()}"></td>
        <td th:text="${user.usedLinks}"></td>
        <td th:if="${viewer != null}">
          <div class="table-actions-buttons">
            <form th:if="${inviteCreating != null}"
                  th:action="@{'/users/share/' + ${user.nickname}}"
                  th:method="POST">
              <input type="submit" value="Share to" th:disabled="${(viewer.id().equals(user.id()))}"
                     class="btn btn-primary" data-lang="shareTo_btn">
            </form>
            <form th:if="${viewerIsAdmin}" th:action="@{'/users/' + ${user.id}}" th:method="DELETE">
              <input type="submit" value="Delete" class="btn btn-danger" data-lang="delete_btn">
            </form>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div
      th:replace="fragments/pagination :: pagination (page = ${pageContent}, pageNumbers = ${pageNumbers}, size = ${pageSize}, source = 'users')"></div>
</div>
</body>
</html>
